<!DOCTYPE html>
<!-- 
    @author xkanko01
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Přihlášení</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="main" id ="main" v-cloak>
        <div class="user">
            <div class="user-info">
                <img src="images/person.jpg" alt="Profilová fotka">
                
            </div>
            <div style="text-align: right; padding-right: 5%;">
                <button style="width: 25%; text-align: center;" @click="logout">
                    Odhlásit
                </button>
            </div>   
            <div class="left-bar">
                <ul>
                    <li>
                        <img src="images/user.png" alt="person" class="icon">
                        <a href="schedule.php">Osobní informace</a>
                    </li>
                    <li>
                        <img src="images/list.png" alt="list" class="icon">
                        <a href="anotacion.html">Anotace předmětů</a>
                    </li>
                    <li>
                        <img src="images/clock.png" alt="users" class="icon">
                        <a href="personal-requirements.php">Osobní požadavky</a>
                    </li>
                    <li v-if="showManageUsers">
                        <img src="images/credit-card.png" alt="users" class="icon">
                        <a href="activity-requirements.php">Požadavky aktivit</a>
                    </li>
                    <li v-if="showManageRooms">
                        <img src="images/list-timeline.png" alt="list-timeline" class="icon">
                        <a href="manage-courses.html">Spravovat předměty</a>
                    </li>
                    <li  v-if="showManageRooms">
                        <img src="images/users.png" alt="person" class="icon">
                        <a href="manage-rooms.html">Spravovat místnosti</a>
                    </li>
                </ul>
            </div>
        </div>
        <div style="margin: 1%;">
            <h1>Správa předmětů</h1>
            <h2>Přidat předmět</h2>
            <form class="form-container" @submit.prevent="newCourse">
                <div class="form-col">
                    <label for="newShort">Zkratka</label>
                    <input v-model="newShort" id="newShort" required>
                </div>
                <div class="form-col">
                  <label for="newName">Název</label>
                  <input v-model="newName" id="newName" required>
                </div>
                <div class="form-col" style="width: 50px;">
                    <label for="newCredits">Kredity</label>
                    <input v-model="newCredits" id="newCredits" type="number" required type="number" min="0">
                </div>
                <div class="form-col">
                    <label for="newSemester">Semestr</label>
                    <input v-model="newSemester" id="newSemester" required>
                </div>
                <div class="form-col">
                    <label for="newFaculty">Fakulta</label>
                    <input v-model="newFaculty" id="newFaculty" required>
                </div>
                <div class="form-col" style="width: 50px;">
                    <label for="newYear">Ročník</label>
                    <input v-model="newYear" id="newYear" required type="number" min="0">
                </div>
                <div class="form-col">
                    <label for="newGarant">OČ Garanta</label>
                    <input v-model="newGarant" id="newGarant" required>
                </div>
                <div class="form-col" style="align-self: self-end;">
                    <input type="submit">
                </div>
            </form>

            <h2>Seznam předmětů</h2>
            <table border="1" style="width: 100%; margin: 5%;">
                <thead>
                    <tr>
                        <th width="10%">Zkratka</th>
                        <th width="40%">Název</th>
                        <th width="10%">Kredity</th>
                        <th width="15%">Semestr</th>
                        <th width="15%">Fakulta</th>
                        <th width="10%">Ročník</th>

                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(course, index) in courses" :key="index" @click="goToCourseDetails(course.short)" class="clickable-row">
                       <td>{{course.short }}</td>
                       <td>{{course.name}}</td>
                       <td>{{course.credits}}</td>
                       <td>{{course.semester}}</td>
                       <td>{{course.faculty}}</td>
                       <td>{{course.year}}</td>
                    </tr>
                </tbody>
            </table>
            <ul>
                
            </ul>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        let edit = Vue.createApp({
            data: function() {
                return {
                    showRegistrations: false,
                    showPersonalRequirements: false,
                    showActivityRequirements: false,
                    showManageUsers: false,
                    showManageCourses: false,
                    showManageRooms: false,
                    courses: [],
                    newShort: "",
                    newName: "",
                    newCredits: "",
                    newSemester: "",
                    newFaculty: "",
                    newYear: "",
                    newGarant: "",
                }
            },
            methods: {
                checkLoggedIn(){
                    if(!document.cookie.includes("PHPSESSID")){
                        console.log("Not logged in");
                        window.location.href = "index.php";
                        return 0;
                    }
                    return 1;
                },
                fetchCourses(){
                    const postData = new URLSearchParams();
                    postData.append('request', 'getAllClasses');
                    fetch('be.php', {
                        method: 'POST',
                        body: postData,
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                    })
                        .then((response) => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        })
                        .then((resp) => {
                            console.log(resp);
                            if(resp.resCode == '0') {
                                var data = resp.data1;
                                var i, j, k;
                                for(i = 0; data[i] != null; i++){
                                    //id is for vue.js 
                                    this.courses[i] = {id: i, short: data[i]["zkratka"], name: data[i]["nazev"], credits: data[i]["kredity"], semester: data[i]["semestr"], faculty: data[i]["fakulta"], year: data[i]["rocnik"]};
                                }
                                j = i;
                                var data = resp.data2;
                                for(i = 0; data[i] != null; i++){
                                    //id is for vue.js 
                                    this.courses[i + j] = {id: i + j, short: data[i]["zkratka"], name: data[i]["nazev"], credits: data[i]["kredity"], semester: data[i]["semestr"], faculty: data[i]["fakulta"], year: data[i]["rocnik"]};
                                }
                                k = i + j;
                                for(i = 0; data[i] != null; i++){
                                    //id is for vue.js 
                                    this.courses[i + k] = {id: i + k, short: data[i]["zkratka"], name: data[i]["nazev"], credits: data[i]["kredity"], semester: data[i]["semestr"], faculty: data[i]["fakulta"], year: data[i]["rocnik"]};
                                }
                            } else {
                                console.error('Error fetching rooms!');
                            }
                        })
                        .catch((error) => {
                            console.error('Error fetching rooms', error);
                        });
                },
                adjustSidebar(){
                    const postData = new URLSearchParams();
                    postData.append('request', 'getUserRights');
                    fetch('be.php', {
                        method: 'POST',
                        body: postData,
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                    })
                        .then((response) => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        })
                        .then((resp) => {
                            // Update the user information based on the API response
                            if(resp.resCode == '0') {
                                switch(resp.rights){
                                    case 0: 
                                        //student
                                        this.showRegistrations = true;
                                        break;
                                    case 1: 
                                        //vyuc
                                        this.showRegistrations = this.showPersonalRequirements = true;
                                        break;
                                    case 2: 
                                        //rozvrh
                                        this.showRegistrations = this.showPersonalRequirements = this.showActivityRequirements = true;
                                        break;
                                    case 3: 
                                        //garant
                                        this.showRegistrations = this.showPersonalRequirements = this.showActivityRequirements = true;
                                        break;
                                    case 4: 
                                        //admin
                                        this.showManageCourses = this.showManageRooms = this.showManageUsers = true;
                                        break;
                                }
                            } else {
                                console.error('Error fetching user info!');
                            }
                        })
                        .catch((error) => {
                            console.error('Error fetching user info', error);
                        });
                },
                logout(){
                    const postData = new URLSearchParams();
                    postData.append('request', 'logout');
                    fetch('be.php', {
                        method: 'POST',
                        body: postData,
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                    })
                    .then((response) => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then((resp) => {
                        // Update the user information based on the API response
                        if(resp.resCode == '0') {
                            window.location.href = "index.php";
                        } else {
                            console.error('Error logging out');
                        }
                    })
                    .catch((error) => {
                        console.error('Error logging out', error);
                    });
                },
                goToCourseDetails(userId){
                    window.location.href = `class-details.html?zkratka=${userId}`;
                },
                newCourse(){
                    const postData = new URLSearchParams();
                    postData.append('request', 'newCourse');
                    postData.append('short', this.newShort);
                    postData.append('name', this.newName);
                    postData.append('credits', this.newCredits);
                    postData.append('semester', this.newSemester);
                    postData.append('faculty', this.newFaculty);
                    postData.append('year', this.newYear);
                    postData.append('garant', this.newGarant);

                
                    fetch('be.php', {
                        method: 'POST',
                        body: postData,
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                    })
                    
                    .then((response) => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then((resp) => {
                        console.log(resp);
                        if(resp.resCode == '0') {
                            alert('Nový předmět úspěšně vytvořena');
                            this.fetchCourses();
                        } else {
                            alert('Předmět nebyl vytvořen');
                        }
                    })
                    .catch((error) => {
                        console.error('Error creating room', error);
                    });
                },
            },
            mounted() {
                // Fetch user information when the component is mounted
                if(this.checkLoggedIn()){
                    this.adjustSidebar();
                    this.fetchCourses();
                };
                
            },
        })
        edit.mount('#main')
    </script>
</body>
</html>
